theme = "ayu_evolve"

[editor]
line-number = "relative"
text-width = 132
indent = { unit = "\t", tab-width = 8 }
auto-pairs = false
#default-yank-register = "*"

[editor.soft-wrap]
enable = true

[keys.normal]
"ret" = ["open_below", "normal_mode"]
# tmux doesn't support kitty's Extended Terminal Protocol, so C-i registers as <tab> :(
"A-i" = "insert_char_interactive"
"A-a" = "append_char_interactive"
"g" = { "R" = [":reflow"], "q" = ["reflow_textobject_inner"] }
"H" = "move_prev_sub_word_start"
"L" = "move_next_sub_word_start"

# choosing the first entry doesn't seem to be supported :( https://docs.helix-editor.com/keymap.html#picker
"]" = { "w" = ["workspace_diagnostics_picker"]}

[keys.select]
"H" = "extend_prev_sub_word_start"
"L" = "extend_next_sub_word_start"

[keys.normal.space]
"." = "code_action"
"m" = "expand_macro"
