[Desktop Entry]
Name=Whatsapp
Type=Application
GenericName=Chat Application
Comment=Proxied through firefox
Exec=firefox --new-window https://web.whatsapp.com
