[ui]
default-command = "status"
diff.tool=["difft", "--color=always", "$left", "$right"]

[revsets]
log = "trunk()..mine()"

[user]
name = "jyn"
email = "github@jyn.dev"

[aliases]
c = ["commit"]
n = ["new"]
l = ["log"]
d = ["diff"]
s = ["status"]
sh = ["show"]
push = ["git", "push"]
p = ["push"]
fetch = ["git", "fetch"]
f = ["fetch"]
branch-log = ["log", "--revisions", "trunk()..@"]

